:root {
  --primary: #302ae6;
  --secondary: #536390;
  --font: #424242;
  --bg: #fff;
  --header: #292922;
}

[data-theme='dark'] {
  --primary: #9a97f3;
  --secondary: #818cab;
  --font: #e1e1ff;
  --bg: #161625;
  --header: #818cab;
}

[data-theme='light'] {
  --primary: #302ae6;
  --secondary: #536390;
  --font: #424242;
  --bg: #fff;
  --header: #292922;
}

.modalContent {
  width: 30%;
  background-color: var(--bg);
  padding: 3%;
  position: fixed;
  top: 40%;
  left: 50%;
  transform: translate(-50% , -50%);
  box-shadow: 0px 0px 18px 0px rgba(108, 106, 106, 0.8);
}

img {
  width: 90%;
  display: block;
  margin: auto;
}

.closeTag {
  cursor: pointer;
  background-color: var(--bg);
}

.btn {
  position: fixed;
  top: 30%;
  left: 50%;
  transform: translate(-50% , -50%);
  
}